@import '../../assets/scss/variables';
// carousel styles
.carousel-container {
    box-shadow: 8px 11px 4px -12px rgb(0 0 0 / 40%);
    img {
        max-width: 100%;
    }
    .carousel-slide {
        &:not(.active) {
            opacity: 0;
            position: absolute;
            display: none;
        }
        &.active {
            animation-name: overlay-effect;
            animation-duration: 1.5s;
        }
    }
    .carousel-controls {
        .control {
            background-color: rgba(0,0,0,0.4);
            color: $white-bg;
            padding: 8px;
            transform: translateY(-50%);
        }
        .prev {
            top: 50%;
        }
        .next {
            top: 50%;
            right: 0;
        }
    }
    .carousel-dots {
        top: -20px;
        div {
            width: 4px;
            height: 4px;
            background-color: #ccc;
            border-radius: 50%;
            margin-right: 15px;
            &.current-slide {
                background-color: #000;;
            }
        }
    }
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0 200px 0 180px;
        box-shadow: 4px 21px 10px -14px rgb(0 0 0 / 10%);
    }
}

// Keyframe to show overlay effect on slide change
@keyframes  overlay-effect {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}