// loading poppins medium font
@font-face {
    font-family: 'poppins-medium';
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

// loading poppins regular font
@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}