// Custom Variables For The Site 
$root-font-size : 10px;
$btn-bg : #D10157;
$footer-bg : #EAEAEA;
$header-cart-bg : #EAEAEA;
$focus-input-color : #3DBFCA;
$error-input-color : #ff4757;
$input-color : #B1BDCC;
$heading-color : #827979;
$text-color : #191A2B;
$btn-text-color : #FFF;
$header-link-color : #90959F;
$product-sidenav-bg : #EAEAEA;
$sidenav-active-color : #ddd;
$sidenav-text-color : #827979;
$border-color : #ccc;
$product-description-bg : #ddd;
$modal-overlay-bg : rgba(0,0,0,0.3);
$cart-bg : #EAEAEA;
$cart-header-bg : #212121;
$cart-body-bg : #EAEAEA;
$white-bg : #fff;